@tailwind base;
@tailwind components;
@tailwind utilities;

* { box-sizing: border-box; }
body { font-family: 'Inter', sans-serif; background: #030712; }

@media (min-width: 768px) {
  .md-sidebar-hidden {
    display: none !important;
    width: 0 !important;
  }
}
