WOMPI_PUBLIC_KEY=pub_test_TU_LLAVE_PUBLICA
WOMPI_INTEGRITY_SECRET=TU_SECRETO_DE_INTEGRIDAD
FRONTEND_URL=http://localhost:4200
BACKEND_URL=https://api.guiiouniformes.com
PORT=3000

# ADDI
ADDI_CLIENT_ID=TU_CLIENT_ID
ADDI_CLIENT_SECRET=TU_CLIENT_SECRET
ADDI_ALLY_SLUG=guiiouniformes-ecommerce
ADDI_API_URL=https://api.addi-staging.com
ADDI_AUTH_URL=https://auth.addi-staging.com/oauth/token
